html, body {
    padding: 0;
    margin: 0;
}
body {
    background: hsl(177, 94%, 80%);
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

.horizontaal {
    margin:  auto;
    background-color: rgb(97, 147, 241);
    float:inline-start;
    font-size: 40px;
    border-radius: 200px
}

.horizontaal li {
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover, li:hover {
    background-color: rgb(250, 137, 241);
    font-variant: small-caps;
}

.Flags {
    font-size: 28px;
}

.flagz {
    width: 180px;
    height: 120px;
    border: 20px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    margin-top:-180px;
    margin-bottom: 150px;
    margin-left: 850px;
    margin-right: 200px;
}

.Flagzs {
    padding-left: 20%;
    padding-right: 20%;
}
.flagzBi {
    width: 180px;
    height: 120px;
    border: 20px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    margin-top:-130px;
    margin-bottom: 40px;
    margin-left: 850px;
    margin-right: 200px;
}

.flagzGay {
    width: 180px;
    height: 120px;
    border: 20px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    margin-top:-200px;
    margin-bottom: 70px;
    margin-left: 850px;
    margin-right: 200px;
}
