html, body {
    padding: 0;
    margin: 0;
}
body {
    background: hsl(177, 94%, 80%);
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

.horizontaal {
    margin:  auto;
    background-color: rgb(142, 217, 236);
    float:inline-start;
    font-size: 40px;
}

.horizontaal li {
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover, li:hover {
    background-color: rgb(250, 137, 241);
    font-variant: small-caps;
}

.Flags {
    font-size: 30px;
}