@keyframes rainbow{ 0%{color:red;} 50%{color:green;} 100%{color:blue;} }
.rainbow{ animation: rainbow 5s infinite; }

@keyframes age{ 0%{color:red;} 50%{color:green;} 100%{color:blue;} }
.rainbow{ animation: rainbow 5s infinite; }
.h1{
    color:pink;
    
}

.rainbow{
    text-align:center;
    font-size: 75px;
    background-color:rgba(245, 245, 245, 0.384);
}

.age{
    text-align:center;
    font-size:65px;
    background-color:rgba(245, 245, 245, 0.384);
    color:white;
    
}

body{
    background-image: url('https://wallpapertag.com/wallpaper/full/a/8/a/792609-beautiful-rainbow-stars-backgrounds-1920x1080.jpg');
}

.grey {
    background-color:rgba(169, 169, 169, 0.527);
    color:black;
    text-align:center;
}

.red {
    background-color:rgba(252, 40, 40, 0.521);
    color:white;
    text-align:center;
}

.orange {
    background-color:rgba(253, 183, 54, 0.479);
    color:white;
    text-align:center;

}

.yellow {
    background-color:rgba(250, 250, 110, 0.548);
    color:white;
    text-align:center;
}

.green {
    background-color:rgba(0, 128, 0, 0.507);
    color:white;
    text-align:center;

}

.blue {
    background-color:rgba(0, 0, 255, 0.507);
    color:white;
    text-align:center;

}

.purple {
    background-color:rgba(128, 0, 128, 0.5);
    color:white;
    text-align:center;

}

.pink {
    background-color:rgba(255, 192, 203, 0.479);
    color:white;
    text-align:center;

}

.movies {
    text-align:center;
    background-color:rgba(255, 255, 255, 0.726);
    background-image: linear-gradient(to top, violet, rgb(135, 70, 182), rgb(25, 125, 207), rgb(10, 177, 10), yellow, orange, red);
}

.end{
    color: white
}

.image {
    background-image: url("https://us-east-1.tchyn.io/snopes-production/uploads/2017/12/rainbow_sky_fb.jpg");    
    background-size: cover;
    background-position: center;
    height: 200px;